.full-img {
  position: relative;
  display: block;
  width: 640px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0);
}

button {
  position: absolute;
  top: 10px;
  left: 10px;
  border: 0;
  background: white;
  padding: 5px;
  cursor: pointer;
}

.thumb-bar img {
  width: 20%;
  cursor: pointer;
}
